
.grid{
    display: grid;
    gap: 20px;
    /*grid-auto-flow: / 50px 100px;*/
   /* grid-template-columns: auto 200px 400px ;
    grid-template-columns: auto auto auto;*/
    grid-template-columns: repeat(3, 80px);
   /* grid-template-rows:  50px auto ; */
   height: 400px;
   align-content: center;
   justify-content: center;
}

.grid > div {
    text-align: center;
    border: 3px solid var(--secondary);


}
.item1{
   /* grid-column: 2 / 3;*/
   grid-area: 1 / 2 / 5 / 6 ;
}